[Unit]
Description=Apache Tomcat Web Application Container
After=network.target

[Service]
Type=forking

Environment=JAVA_HOME=/usr/lib/jvm/java-11-openjdk-11.0.23.0.7-2.el9.x86_64
Environment=CATALINA_PID=/root/apache-tomcat-10.1.41/temp/tomcat.pid
Environment=CATALINA_HOME=/root/apache-tomcat-10.1.41
Environment=CATALINA_BASE=/root/apache-tomcat-10.1.41

ExecStart=/root/apache-tomcat-10.1.41/bin/startup.sh
ExecStop=/root/apache-tomcat-10.1.41/bin/shutdown.sh

User=root
Group=root
UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
